{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="about">
            <p>The Full Story</p>
            <p>About me</p>
            <p>I post videos every week ! In great sunny days, mostly :)</p>
        </div>
        <div class="social youtube-block">
            <div class="social__video">
                <video loop muted autoplay>
                    <source src="{% static 'pages/img/1about.mp4' %}" type="video/mp4">
                </video>
            </div>
            <div class="social__info">
                <div class="social__link"><a href="https://www.youtube.com/channel/UCj60SAcO7PZXMqfjIRBXaMQ" target="_blank">YOUTUBE</a></div>
                <div class="social__text">Yes Yes Yes - All Just For You</div>
            </div>
        </div>
        <div class="social instagram-block">
            <div class="social__video">
                <video loop muted autoplay>
                    <source src="{% static 'pages/img/2about.mp4' %}" type="video/mp4">
                </video>
            </div>
            <div class="social__info">
                <div class="social__link"><a href="https://www.instagram.com/diva.valentina_/?igshid=YmMyMTA2M2Y%3D" target="_blank">INSTAGRAM</a></div>
                <div class="social__text">My standards are hight… just like my heels. I am a woman with ambition and heart of gold 💛</div>
            </div>
        </div>
        <div class="social tiktok-block">
            <div class="social__video">
                <video loop muted autoplay>
                    <source src="{% static 'pages/img/1about.mp4' %}" type="video/mp4">
                </video>
            </div>
            <div class="social__info">
                <div class="social__link"><a href="https://www.tiktok.com/@divavalentina.sk" target="_blank">TIKTOK</a></div>
                <div class="social__text">My life is like a joke, so I'm naturally funny. Nobody is perfect,I am nobody</div>
            </div>
        </div>
    </main>
{% endblock %}