<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Montserrat" rel="stylesheet">
    <link type="image/x-icon" href="{% static 'pages/img/favicon.ico' %}" rel="shortcut icon">
    <link type="Image/x-icon" href="{% static 'pages/img/favicon.ico' %}" rel="icon">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__title"><a href="{% url 'home' %}">Diva Valentina</a></div>
            <nav class="header__nav">
                <ul class="header__ul">
                    <li class="header__li"><a href="{% url 'home' %}">Home</a></li>
                    <li class="header__li"><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

        {% block content %}
        {% endblock %}

    <footer class="footer">
        <div class="footer__section">
            <div class="footer__video">
                <video autoplay loop muted>
                    <source src="{% static 'pages/img/footer.mp4' %}" type="video/mp4">
                </video>
            </div>
            <div class="footer__content">
                <div class="footer__sctn1">
                    <p>© 2022 by DIVA VALENTINA</p>
                    <ul class="footer__ul">
                        <li class="footer__li"><a href="https://www.youtube.com/channel/UCj60SAcO7PZXMqfjIRBXaMQ" target="_blank">YouTube</a></li>
                        <li class="footer__li"><a href="http://www.tiktok.com/@divavalentina.sk" target="_blank">TikTok</a></li>
                        <li class="footer__li"><a href="https://instagram.com/diva.valentina_?igshid=YmMyMTA2M2Y=" target="_blank">Instagram</a></li>
                    </ul>
                </div>
                <div class="footer__sctn2">
                    Thank you so much for following me! I'm so grateful for your support. The love I get from you is genuinely outpouring. Thank you so much for your love and support.
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>