{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <main>
        <section class="donate">
            <div class="donate__bacground">
                <img src="{% static 'pages/img/1.jpg' %}" alt="main photo 1">
            </div>
            <div class="donate__content">
                <div class="donate__frame">
                    <div class="donate__title"><h1>WELCOME TO MY WORLD</h1></div>
                    <div class="donate__text">I'm the quiet girl next door who is always lookin' to have some fun!</div>
                </div>
                <div class="donate__section">
                    <div class="donate__btn"><a href="https://valentina-conte.diaka.ua/donate" target="_blank">💎 Donate</a></div>
                    <div class="donate__under-btn">Tip Me-For Better Energy 🤍</div>
                </div>
            </div>
        </section>
        <div class="full-screen">
            <div class="full-screen__image"><img src="{% static 'pages/img/2.jpg' %}" alt="main photo 2"></div>
            <div class="full-screen_btn">
                <a href="#"><img src="{% static 'pages/img/of-logo.png' %}" alt="Logo only-fans"></a>
            </div>
        </div>
        <div class="full-screen">
            <div class="full-screen__image"><img src="{% static 'pages/img/3.jpg' %}" alt="main photo 3"></div>
            <div class="full-screen_btn">
                <a href="#"><img src="{% static 'pages/img/of-logo.png' %}" alt="Logo only-fans"></a>
            </div>
        </div>
    </main>
{% endblock %}