@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Функция для адаптации под широкие экраны*/
body {
  background-color: rgb(253, 215, 214);
}

/*Шрифт по-умолчанию под большие экраны(адаптируется через rem)*/
@media (min-width: 2000px) {
  html, body {
    font-size: 20px;
  }
}
@media (min-width: 2500px) {
  html, body {
    font-size: 25px;
  }
}
@media (min-width: 3000px) {
  html, body {
    font-size: 30px;
  }
}
@media (min-width: 3700px) {
  html, body {
    font-size: 60px;
  }
}
.header {
  display: flex;
  justify-content: center;
  background-image: url("../img/nav-menu.jpg");
}
.header__container {
  min-height: 10vh;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  justify-self: center;
  font-size: 1.875rem;
  align-self: center;
}
.header__title a {
  color: rgb(117, 65, 97);
}
.header__ul {
  display: flex;
  font-size: 1.25rem;
}
.header__li {
  margin-left: 5vw;
}
.header__li:first-child {
  margin-left: 0px;
}
.header__li a {
  display: inline-block;
  color: rgb(117, 65, 97);
}
.header a {
  transition: all 0.4s ease;
}
.header a:hover {
  display: inline-block;
  color: rgb(207, 20, 135);
  transform: scale(1.1, 1.1);
}

@media (max-width: 510px) {
  .header__container {
    flex-direction: column;
  }
  .header__title, .header__li {
    margin-bottom: 10px;
  }
}
.donate {
  position: relative;
}
.donate__bacground img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.donate__content {
  position: absolute;
  top: 18%;
  left: 10%;
}
.donate__frame {
  background-color: rgba(255, 228, 196, 0.444);
  text-align: center;
  border-radius: 10px;
  width: 46vw;
  margin-bottom: 3.75rem;
}
.donate__title {
  font-size: 2.625rem;
  color: rgb(250, 134, 209);
  padding-top: 1.5625rem;
}
.donate__text {
  font-size: 2rem;
  color: rgb(117, 65, 97);
  padding: 0px 1.875rem 1.5625rem;
}
.donate__btn a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 210px;
  display: block;
  background-color: rgb(250, 134, 209);
  padding: 1.25rem 4.6875rem;
  font-size: 1.5rem;
  color: rgb(117, 65, 97);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 0.3s linear;
}
.donate__btn a:hover {
  background-color: rgb(236, 169, 214);
  transform: scale(0.9, 0.9);
}
.donate__under-btn {
  padding-left: 5px;
  font-size: 1.125rem;
  color: white;
}

@media (max-width: 1024px) {
  .donate__title {
    font-size: 38px;
  }
  .donate__text {
    font-size: 20px;
  }
  .donate__btn a {
    font-size: 20px;
  }
  .donate__under-btn {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .donate__title {
    font-size: 29px;
  }
  .donate__text {
    font-size: 16px;
  }
  .donate__btn a {
    font-size: 16px;
  }
  .donate__under-btn {
    font-size: 12px;
  }
}
.full-screen {
  position: relative;
}
.full-screen_btn {
  position: absolute;
  top: 68%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.full-screen_btn img {
  width: 35vw;
  min-width: 250px;
  border: 4px rgb(46, 125, 199) double;
  border-radius: 40px;
  padding: 5px 10px;
  background-color: rgba(13, 10, 47, 0.327);
  transition: all 0.4s ease-in-out;
}
.full-screen_btn img:hover {
  background-color: rgba(220, 104, 175, 0.793);
}
.full-screen__image img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.footer__section {
  position: relative;
}
.footer__video video {
  width: 100%;
  height: 100%;
}
.footer__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer__sctn1 {
  display: flex;
  min-height: 50%;
  justify-content: space-between;
  align-items: center;
  margin: 0px 6.25rem;
}
.footer__sctn1 p {
  color: white;
  font-size: 1.5rem;
}
.footer__ul {
  display: flex;
  list-style: none;
}
.footer__li {
  margin-left: 2.5rem;
}
.footer__li a {
  color: white;
  font-size: 1.5rem;
  transition: all 0.4s ease;
}
.footer__li a:hover {
  color: rgb(207, 20, 135);
}
.footer__ul li:first-child {
  margin-left: 0px;
}
.footer__sctn2 {
  align-self: center;
  line-height: 1.2;
  width: 63%;
  text-align: center;
  color: white;
  font-size: 1.25rem;
}

@media (max-width: 1024px) {
  .footer__content {
    justify-content: space-around;
  }
  .footer__sctn1 p, .footer__sctn1 li a {
    font-size: 16px;
  }
  .footer__sctn1 {
    flex-direction: column;
    margin: 0px 0px;
    text-align: center;
    margin: 8px 0px;
  }
  .footer__sctn2 {
    width: 90%;
    font-size: 11px;
    margin-bottom: 10px;
  }
}
@media (max-width: 660px) {
  .footer__sctn2 {
    display: none;
  }
  .footer__sctn1 {
    height: 100%;
  }
}
.about p {
  text-align: center;
  color: white;
}
.about p:nth-child(1) {
  font-size: 1.375rem;
  padding-top: 0.3125rem;
  margin-bottom: 0.9375rem;
}
.about p:nth-child(2) {
  font-size: 2.25rem;
  margin-bottom: 0.75rem;
}
.about p:nth-child(3) {
  font-size: 1.625rem;
  margin-bottom: 0.4375rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
}
.social__video {
  flex: 1 1 50%;
}
.social__video video {
  width: 100%;
}
.social__info {
  flex: 1 0 50%;
  text-align: center;
  align-self: center;
}
.social__link {
  margin-bottom: 0.625rem;
}
.social__link a {
  color: white;
  text-decoration: underline;
  font-size: 2.125rem;
  transition: all 0.4s linear;
}
.social__link a:hover {
  color: rgba(214, 101, 195, 0.814);
}
.social__text {
  color: white;
  font-size: 1.125rem;
  font-style: italic;
}

.instagram-block {
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .social__video,
.social__info {
    flex: 1 0 100%;
  }
  .social__link {
    margin-top: 15px;
  }
  .social__text {
    margin-bottom: 10px;
  }
}